.how-it-works {
  background: $color-bg; // Changed from $color-surface for better contrast
  padding: $section-padding;
  text-align: center;

background-color: #ffe5cc;
// background-color: #b2e2df;
// background-color: #fcd4da;





  .section-title {
    font-size: 2.5rem;
    color: $color-heading;
    margin-bottom: 4rem;
    font-weight: bold;
  }

  .steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 6rem;
    row-gap: 5rem;
    @include medium {
         row-gap: 10px;
    }
  }

  .step {
    flex: 1 1 30%;
    max-width: 340px;

    .step-icon {
      font-size: 4.5rem;
      color: $color-secondary;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-heading-alt;
      margin-bottom: 0.75rem;
      line-height: 1.4;
    }

    p {
      font-size: 1rem;
      color: $color-text-light;
      line-height: 1.6;
    }
  }

  @include medium {
    .steps {
      flex-direction: column;
      align-items: center;
     
    }

    .step {
      max-width: 100%;
    }
  }
}
