// Large Padding (175px)
.padding-large {
  padding-top: 175px !important;
  padding-bottom: 175px !important;
}

.padding-large-top {
  padding-top: 175px !important;
}

.padding-large-bottom {
  padding-bottom: 175px !important;
}

// Medium-Large Padding (120px)
.padding-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}


// Medium Padding (80px)
.padding-medium {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.padding-medium-top {
  padding-top: 80px !important;
}

.padding-medium-bottom {
  padding-bottom: 80px !important;
}

// Small Padding (40px)
.padding-small {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.padding-small-top {
  padding-top: 40px !important;
}

.padding-small-bottom {
  padding-bottom: 40px !important;
}

// No Padding (0px)
.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}
