// Define text color utility classes
.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-accent {
  color: $color-accent;
}

.text-white {
  color: #ffffff;
}

.text-light {
  color: $color-text;
}

.text-dark {
  color: #111111;
}
